---
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/case-studies/" />
  <link rel="canonical" href="https://dvorson.github.io/case-studies/" />
  <title>Redirecting...</title>
</head>
<body>
  <p>This page has moved to <a href="/case-studies/">/case-studies/</a>.</p>
</body>
</html>
